<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"] - MarketPlace Application</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Meta -->
    <meta name="description" content="The Market Place Team" />
    <meta name="author" content="The Market Place Team" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="The Market Place Team">
    <meta property="og:description" content="The Market Place Team">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="The Market Place Team">
    <link rel="shortcut icon" href="~/assets/images/favicon.svg" />
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <!-- Bootstrap font icons css -->
    <link rel="stylesheet" href="~/assets/fonts/bootstrap/bootstrap-icons.css" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/css/main.min.css" />
    <!-- Login css -->
    <link rel="stylesheet" href="~/assets/css/login.css" />

    <style rel="stylesheet" type="text/css">
            .form-control {
            border: 1px solid #c8d0da;
            color: #232629;
            background-color: #fff;
             }
    </style>
</head>
<body class="login-container">
	<!-- Login box start -->
	<div class="container">
		@RenderBody()
	</div>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
